doctype html
html
  head
    title= title
    link(rel='stylesheet', href='lib/css/bower.min.css')
    link(rel='stylesheet', href='lib/css/index.css')
  body
    block content
    script(src='lib/js/bower.min.js')
    script(src='lib/js/index.js')
